<ul class="list-inline text-center footer-links">

{%- if site.rss-description -%}
  <li class="list-inline-item">
    <a href="{{ '/feed.xml' | relative_url }}" title="RSS">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-rss fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">RSS</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.email -%}
  <li class="list-inline-item">
    <a href="mailto:{{ site.social-network-links.email }}" title="Email me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-envelope fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Email me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.calendly -%}
  <li class="list-inline-item">
    <a href="https://calendly.com/{{ site.social-network-links.calendly }}" title="Schedule a meeting with me">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fas fa-calendar-check fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Schedule a meeting with me</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.facebook -%}
  <li class="list-inline-item">
    <a href="https://www.facebook.com/jinxin.zhao90" title="Facebook">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-facebook fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Facebook</span>
   </a>
  </li>
{%- endif -%}


{%- if site.social-network-links.github -%}
  <li class="list-inline-item">
    <a href="https://github.com/JinxinMonash/" title="GitHub">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-github fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">GitHub</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.twitter -%}
  <li class="list-inline-item">
    <a href="https://twitter.com/JasonJinxin" title="Twitter">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-twitter fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Twitter</span>
   </a>
  </li>
{%- endif -%}


{%- if site.social-network-links.linkedin -%}
  <li class="list-inline-item">
    <a href="https://www.linkedin.com/in/jinxin-zhao-453a8a102/" title="LinkedIn">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-linkedin fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">LinkedIn</span>
   </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.ORCID -%}
 <li class="list-inline-item">
   <a href="https://orcid.org/my-orcid?orcid=0000-0002-0604-3541" title="ORCID">
     <span class="fa-stack fa-lg" aria-hidden="true">
       <i class="fas fa-circle fa-stack-2x"></i>
       <i class="fab fa-orcid fa-stack-1x fa-inverse"></i>
     </span>
     <span class="sr-only">ORCID</span>
   </a>
 </li>
{%- endif -%}

{%- if site.social-network-links.google-scholar -%}
  <li class="list-inline-item">
    <a href="https://scholar.google.com.au/citations?user=DwMnSUUAAAAJ&hl=en" title="Google Scholar">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fa fa-graduation-cap fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Google Scholar</span>
    </a>
  </li>
{%- endif -%}

  
{%- if site.social-network-links.medium -%}
  <li class="list-inline-item">
    <a href="https://medium.com/@{{ site.social-network-links.medium }}" title="Medium">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-medium fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Medium</span>
    </a>
  </li>
{%- endif -%}

{%- if site.social-network-links.itchio -%}
  <li class="list-inline-item">
    <a href="https://{{ site.social-network-links.itchio }}.itch.io/" title="Itchio">
      <span class="fa-stack fa-lg" aria-hidden="true">
        <i class="fas fa-circle fa-stack-2x"></i>
        <i class="fab fa-itch-io fa-stack-1x fa-inverse"></i>
      </span>
      <span class="sr-only">Itchio</span>
   </a>
  </li>
{%- endif -%}

</ul>
